<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>controllers.Servlet2</servlet-class>
        <init-param>
            <param-name>state</param-name>
            <param-value>disabled</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Servlet3</servlet-name>
        <servlet-class>controllers.Servlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRedirectServlet</servlet-name>
        <servlet-class>controllers.SendRedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableServlet</servlet-name>
        <servlet-class>controllers.TableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>controllers.AjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet3</servlet-name>
        <url-pattern>/Servlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRedirectServlet</servlet-name>
        <url-pattern>/SendRedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableServlet</servlet-name>
        <url-pattern>/TableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/AjaxServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>companyname</param-name>
        <param-value>The Best Company</param-value>
    </context-param>
</web-app>
